* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: #ebf8e1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(http://bit.ly/2gPLxZ4);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(0.33turn, #3f87a6, #ebf8e1, #f69d3c, #561423);
}

.a {
  font-size: 20px;
  color: rgb(72, 71, 87);
  font-style: oblique;
  text-align: center;
  padding: 2%;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.header h1 {
  color: rgb(72, 71, 87);
  display: inline-block;
  font-style: oblique;
  font-size: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.nav {
  height: 50px;
  width: 400px;
  float: right;
  background: linear-gradient(#82cee5, #2409bd);
}

.section-container {
  border-color: slategray;
  width: 100%;
  padding: 5px;
  position: relative;
  font-size: 100%;
  font-style: oblique;
}

.container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8px;
}

.item {
  content: "My Work";
  width: 48%;
  height: 10%;
  margin-bottom: 1%; /* (100-32*3)/2 */
  position: relative;
  display: inline;
  border-style: ridge;
  border-color: blueviolet;
  border-radius: 5%;
}

.first-item {
  width: 96%;
  height: 10%;
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  display: inline;
  border-style: ridge;
  border-color: blueviolet;
  border-radius: 5%;
}

.item:hover,
.first-item:hover {
  opacity: 0.5;
  transition: 0.5s ease;
  cursor: pointer;
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

.section-label {
  width: 10%;
  height: 300px;
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  padding: 10px;
  text-align: right;
  border-right: 3px solid black;
  display: inline-flex;
}

.section {
  width: 85%;
  left: 2%;
  position: relative;
  display: inline-flex;
}

.C {
  font-size: 20px;
  color: rgb(72, 71, 87);
  font-style: oblique;
  text-align: center;
  padding: 2%;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
.R {
  font-size: 20px;
  color: rgb(72, 71, 87);
  font-style: oblique;
  text-align: center;
  padding: 2%;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  padding-left: 20%;
}
@media all and (max-width: 3000px) {
  .section,
  .section-container,
  .section-label,
  .item,
  .first-item.container {
    font-size: 20px;
  }
}
